body::-webkit-scrollbar{
  background-color: whitesmoke;
}

body::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to right top, #2c11e3, #7f25e5, #af41e7, #d45eeb, #f47ef1);
  border-radius: 8px;
}
div#root{
  text-align: center;
}
div.card{
  text-align: initial;
}
div.navbar-nav{
  /* margin-left: 50%; */ /* contributed by syed bilal alam */
  gap: 25px; /* contributed by syed bilal alam */
  font-size: larger;
  color: white;
}


/* Syed Bilal Alam's contributions */
.container-fluid{
  justify-content:space-between !important;
}
#navbarNavAltMarkup.navbar-collapse{
  flex-grow:0 !important;
}